# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ML\ML_VPN_non_VPN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
